*.tar.*
Makefile.in
configure
aclocal.m4
autom4te.cache
config.log
config.status
include/config.h
include/stamp-h1
libtool
dev/
*.la
*.lo
*.o
*/.deps/
*/.libs/
Makefile
tools/ulp
tools/ulp_check
tools/ulp_dump
tools/ulp_packer
tools/ulp_post
tools/ulp_reverse
tools/ulp_trigger
